[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.154"
pypdf2 = "*"
python-dotenv = "==1.0.0"
streamlit = "==1.18.1"
faiss-cpu = "==1.7.4"
streamlit-extras = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
